# fly.toml app configuration file generated for openquiz-server on 2025-12-16T11:28:12Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'openquiz-server'
primary_region = 'lhr'

[build]

[env]
  CLIENT_URL = 'https://openquiz.xyz'
  PORT = '3001'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
