app = "openquiz-server"
primary_region = "lhr"

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[env]
  PORT = "3001"
  CLIENT_URL = "https://openquiz.vercel.app"
